<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Creative - Bootstrap 3 Responsive Admin Template">
    <meta name="author" content="GeeksLabs">
    <meta name="keyword" content="Creative, Dashboard, Admin, Template, Theme, Bootstrap, Responsive, Retina, Minimal">
    <link rel="shortcut icon" href="img/favicon.png">

    <title>Reports</title>

    <!-- Bootstrap CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <!-- bootstrap theme -->
    <link href="css/bootstrap-theme.css" rel="stylesheet">
    <!--external css-->
    <!-- font icon -->
    <link href="css/elegant-icons-style.css" rel="stylesheet"/>
    <link href="css/font-awesome.min.css" rel="stylesheet"/>
    <link href="css/toastr.min.css" rel="stylesheet"/>
    <!-- Custom styles -->
    <link href="css/style.css" rel="stylesheet">
    <link href="css/style-responsive.css" rel="stylesheet"/>

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 -->
    <!--[if lt IE 9]>
    <script src="js/html5shiv.js"></script>
    <script src="js/respond.min.js"></script>
    <script src="js/lte-ie7.js"></script>
    <![endif]-->
</head>

<body>
<!-- container section start -->
<section id="container" class="">
    <% include ./partials/header-gen.ejs %>
    <% include ./partials/sidebar-gen.ejs %>
    <!--main content start-->
    <section id="main-content">
        <section class="wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <ol class="breadcrumb">
                        <li><i class="fa fa-home"></i><a href="#">Home</a></li>
                        <li><i class="fa fa-line-chart"></i>Reports</li>
                    </ol>
                </div>
            </div>
            <!-- page start-->
            <!-- Form validations -->
            <div class="row">
                <div class="col-lg-12">
                    <section class="panel">
                        <header class="panel-heading">
                            Generation Data
                        </header>
                        <div class="panel-body">
                            <div class="form-group ">
                                <label for="time"
                                       class="control-label col-lg-2">Date (yyyy-mm-dd)<span
                                            class="required">*</span></label>

                                <div class="col-lg-4">
                                    <input class="form-control const-data-input" id="time"
                                           name="time"
                                           type="text" required/>
                                </div>
                                <div class="col-lg-4">
                                    <button class="btn btn-primary" onclick="exportTableAsCsv()">Export To CSV</button>
                                </div>
                            </div>
                            <br><br>

                            <div class="row">
                                <div class="col-md-10">
                                    <table id="toExportTable" class="table table-bordered table-hover">
                                        <tr>
                                            <td class="col-md-3">Line Name</td>
                                            <td class="col-md-2">Import MW</td>
                                            <td class="col-md-2">Export MW</td>
                                            <td class="col-md-2">Import MU</td>
                                            <td class="col-md-2">Export MU</td>
                                        </tr>
                                        <% var line_names_ = ["VHVDC", "B'WATI HVDC", "765kV Solapur-Raichur# I", "765kV Solapur-Raichur# II", "400kV Narender-Kolhapur(GIS)-1", "400kV Narender-Kolhapur(GIS)-2", "R'kela #  1(Raigarh-Sundargarh#1", "R'kela #  1(Raigarh-Sundargarh#2", "Rourkela # 2 (SEL- 1)", "R'kela #  4 (SEL-2)", "B'padar #  1,2&3", "Ranchi-Sipat #I&II", "765kv Ranchi-Dharamjaygarh # 1", "765kv Ranchi-Dharamjaygarh # 2", "765kv Dharamjaygarh- Jharsuguda # 1", "765kv Dharamjaygarh- Jharsuguda # 2", "765kV Agra- Gwalior #1&2", "400kV Zerda - Kankroli", "400kV Zerda - Bhinmal", "Vindhyachal - Rihand", "765kV Gwalior-Jaipur #1&2", "400kV RAPP - Shujalpur # 1", "400kV RAPP - Shujalpur # 2", "Champa-Kurukshetra Bipole", "765kV Wardha-Nizamabad-1", "765kV Wardha-Nizamabad-2"]; %>
                                        <% var templateUsedKeys_ = []; %>
                                        <% for(var i = 0;i < line_names_.length;i++){ %>
                                        <% templateUsedKeys_.push(line_names_[i] + "_IMPMW"); %>
                                        <% templateUsedKeys_.push(line_names_[i] + "_EXPMW"); %>
                                        <% templateUsedKeys_.push(line_names_[i] + "_IMPMU"); %>
                                        <% templateUsedKeys_.push(line_names_[i] + "_EXPMU"); %>
                                        <tr>
                                            <td class="col-md-3"><strong><%= line_names_[i] %></strong>
                                            </td>
                                            <td class="col-md-2"><span class="const-data-input"
                                                                       id="<%= line_names_[i] %>_IMPMW"
                                                                       name="<%= line_names_[i] %>_IMPMW"></span></td>
                                            <td class="col-md-2"><span class="const-data-input"
                                                                       id="<%= line_names_[i] %>_EXPMW"
                                                                       name="<%= line_names_[i] %>_EXPMW"></span></td>
                                            <td class="col-md-2"><span class="const-data-input"
                                                                       id="<%= line_names_[i] %>_IMPMU"
                                                                       name="<%= line_names_[i] %>_IMPMU"></span></td>
                                            <td class="col-md-2"><span class="const-data-input"
                                                                       id="<%= line_names_[i] %>_EXPMU"
                                                                       name="<%= line_names_[i] %>_EXPMU"></span></td>
                                        </tr>
                                        <% } %>
                                        <% if (typeof genList != 'undefined') { %>
                                        <!-- Mark all the template used keys from genlist and show the rest of the keys in the usual way -->
                                        <% for(var i = 0;i < genList.length;i++){ %>
                                        <% if(templateUsedKeys_.indexOf(genList[i].key) == -1){ %>
                                        <tr>
                                            <td class="col-md-3">
                                                <span><strong><%= genList[i].str %></strong><%= " (" + genList[i].key + ")" %></span>
                                            </td>
                                            <td class="col-md-8"><span class="const-data-input"
                                                                       id="<%= genList[i].key %>"></span>
                                            </td>
                                        </tr>
                                        <% } %>
                                        <% } %>
                                        <% } %>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
            <!-- page end-->
        </section>
    </section>
    <!--main content end-->
    <div class="text-right">
        <div class="credits">
            <!--
                All the links in the footer should remain intact.
                You can delete the links only if you purchased the pro version.
                Licensing information: https://bootstrapmade.com/license/
                Purchase the pro version form: https://bootstrapmade.com/buy/?theme=NiceAdmin
            -->
            <a href="https://bootstrapmade.com/free-business-bootstrap-themes-website-templates/">Business Bootstrap
                Themes</a> by <a href="https://bootstrapmade.com/">BootstrapMade</a>
        </div>
    </div>
</section>
<!-- container section end -->
<!-- javascripts -->
<script src="js/jquery.js"></script>
<script src="js/bootstrap.min.js"></script>
<!-- nice scroll -->
<script src="js/jquery.scrollTo.min.js"></script>
<script src="js/jquery.nicescroll.js" type="text/javascript"></script>

<script src="js/toastr.min.js" type="text/javascript"></script>
<!--custome script for all page-->
<script src="js/scripts.js"></script>
<script src="home.js"></script>
</body>
</html>